.todo {
    margin: 0.5rem;
    background: $clr6;
    font-size: 1.5rem;
    color: $clr7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;

    .todo-item {
        padding: 0rem 0.5rem;
        flex: 1;
    }

    .completed {
        text-decoration: line-through;
        opacity: 0.5;
    }

    .trash-btn,
    .complete-btn {
        color: $clr6;
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
    }

    .trash-btn {
        background-color: $clr9;
    }

    .complete-btn {
        background-color: $clr8;
    }

    .fa-trash,
    .fa-check {
        pointer-events: none;
    }
}