// Colors
$clr1: #006d77;
$clr2: #83c5be;
$clr3: #edf6f9;
$clr4: #ffddd2;
$clr5: #e29578;
$clr6: #fff;
$clr7: #222;
$clr8: #06d6a0;
$clr9: #e63946;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//sides width
$sides: 15%;